.menu-item{
    cursor: pointer;
}

div.index-page{
    display: none;
}

div.index-page.selected{
    display: inline !important;
}

#canvas {
    width: 100%;    
    background-color: #000;
}

#duracao{
    width: 75px;
}

#nome_relatorio{
    width: 230px;
}

.button-qrcode{
    position: relative;    
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}


.button-door-online, .button-door-offline{
    position: relative;
    margin-top: 20px;
    min-width: 300px;    
}

.door-button-icon{
    position: absolute;
    right: 15px; /* Alinhamento à direita com margem */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

a.selected{
    color: #FFF !important;
}

#page_1 h4{
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.image-logo{
    margin-top:5px;
}

.side-menu {
    height: 100%;
    width: 250px; /* Definimos uma largura fixa */
    position: fixed;
    z-index: 5;
    top: 0;
    left: -250px; /* Posicionamos fora da tela inicialmente */
    background-color: #33C3F0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem; 
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #fff;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 2.5rem;
    margin-left: 50px;
    color: #FFF;
}

.side-menu .menu-icon{
    margin-right:15px;
}

.open-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 15px;
    color: #33C3F0;
}

.top-bar{
    text-align: right;
    border-bottom: #dedede 1px solid;
    padding-bottom: 10px;
}

#last-access-records{
    height: 300px; 
    overflow-y: scroll;
    position: relative;
    border-bottom: 1px solid #ddd;
}


#last-access-records table {
    width: 100%;
    border-collapse: collapse;
}

#last-access-records thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

#last-access-records th, #last-access-records td {
    border: 1px solid #ddd;
    padding: 8px;
}

#last-access-records th {
    background-color: #f2f2f2;
    text-align: left;
}

#page_4{
    position: relative;
}